body {
	background-color: black;
}

.text_2 {
    color: #00FFFF;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.box {
  background-color: rgba(255, 255, 255, 0.5);
}

.box1 {
  background-color: rgba(255, 215, 0, 0.5);
}

.photos {
    width: 15em;
    -webkit-filter: blur(10px);
    filter: blur(10px)
}

html,
body {
    height: 100%
}

}

.logo {
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}

.logo b {
    font: 400 19vh "Vibur";
    font-size: 35px;
    color: #FFFF00;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #8B0000, 0 0 0.5em #8B0000, 0 0 0.1em #8B0000, 0 10px 3px #000;
}

.logo b span {
    animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {

        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}