body {
	background: url(https://img1.akspic.ru/previews/4/5/9/6/7/176954/176954-temnota-fraktalnoe_iskusstvo-purpur-fioletovyj-art-500x.jpg);
	background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

.text_2 {
    color: #00FFFF;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.box {
  background-color: rgba(255, 255, 255, 0.5);
}

.box1 {
  background-color: rgba(255, 215, 0, 0.5);
}

.photos {
    width: 15em;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.photos1 {
	background: #fff;
    width: 15em;
	border-top-left-radius: 10%; 
	border-top-right-radius: 10%; 
	border-bottom-left-radius: 10%; 
	border-bottom-right-radius: 10%;
}

.button-74 {
    background: linear-gradient(to bottom right,#7B68EE, #000080);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-74:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-74:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}




.like-container {
    display: flex;
    align-items: center;
}

.like-button {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-right: 8px;
}

.like-count {
    font-size: 18px;
}

@import url(//fonts.googleapis.com/css?family=Vibur);

html,
body {
    height: 100%
}

}

.logo {
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}

.logo b {
    font: 400 19vh "Vibur";
    font-size: 35px;
    color: #FFFF00;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #8B0000, 0 0 0.5em #8B0000, 0 0 0.1em #8B0000, 0 10px 3px #000;
}

.logo b span {
    animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {

        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}


/* follow me @nodws */
#btn-twtr {
    clear: both;
    color: #fff;
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    width: 13em;
    padding: 5px 10px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.4
}

#btn-twtr:hover {
    color: #fff;
    opacity: 1
}